<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word of the Day</title>
</head>
<body>
    <h1>Welcome to Lebron's Word Of The Day</h1>
    <p>Every time you visit this page, there'll be a different word</p>
    <p>Here is your word!</p>
    <p><%= word %>  - <%= part %> </p>
    <p><%= definition %> </p>
    
</body>
</html>